<%=
  select_tag(
    :sales_rep,
    options_from_collection_for_select(@sales_reps, :id, :name),
    include_blank: "Please select an account rep",
    id: 'sales-rep',
    class: "ui selection dropdown"
  )
%>

<div class="table-wrapper">
  <table id="sales-reps" class="table table-bordered table-hover cell-borders row-border order-column" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Full name</th>
        <th>Email</th>
        <th>Manager</th> 
        <th>Manager title</th>
        <th>Phone numbers</th>
        <th>Address</th>
        <th>Accounts prefixes</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th>Full name</th>
        <th>Email</th>
        <th>Manager</th> 
        <th>Manager title</th>
        <th>Phone numbers</th>
        <th>Address</th>
        <th>Accounts prefixes</th>
      </tr>
    </tfoot>
    <tbody>
    </tbody>
  </table>
</div>
