<br>
<br>

<div class="ui grid">
  <div class="row">
    <div class="one wide column"></div>

    <div class="three wide column">
        <div class="ui link cards">
          <div class="card">
            <div class="image">
              <%= image_tag('userlogo.png') %>
            </div>
            <div class="content">
              <div class="header"><%= @sales_rep.name %></div>
              <div class="meta">
                <% if @sales_rep.manager_title %>
                  <a><%= @sales_rep.manager_title %></a>
                <% else %>
                <a>Sales Rep</a>
                <% end %>
              </div>
              
              <div class="item">
                <div class="content">
                 <i class="mail icon"></i>
                  <a href="mailto:jack@semantic-ui.com">jack@semantic-ui.com</a>
                </div>
              </div>

              <% if [@sales_rep.phone_number_1, @sales_rep.phone_number_2].any? %>
                 <div class="ui bulleted list">
                  <% [@sales_rep.phone_number_1, @sales_rep.phone_number_2].each do |phone_number| %>
                    <% if phone_number %>
                      <div class="item"><%= "#{phone_number}" %></div>
                    <% end %>
                  <% end %>
                 </div>
              <% end %>

              <% if @sales_rep.city && @sales_rep.state %>
                <div class="item">
                  <div class="content">
                  <i class="marker icon"></i>
                    <%= "#{@sales_rep.city}, #{@sales_rep.state}" %>
                  </div>
                </div>
              <% end %>

            </div>
            <span style="margin-left: 1rem;">
              <i class="user icon"></i>
              <% if @sales_rep.active %>
              Active
              <% else %>
              Inactive
              <% end %>
            </span>
            <div class="extra content">
              <span class="extra content">
                <%= @sales_rep.updated_at.strftime("Updated on %m/%d/%Y") %>
              </span>
            </div>
          </div>
        </div>
    </div>

    <div class="eleven wide column">
      <h2 class="ui header">
        SalesRep Profile
       <div class="sub header">Associated Accounts</div>
      </h2>

      <% if @sales_rep.accounts.any? %>
        <table class="ui fixed single line celled table">
          <thead>
            <tr>
              <th>Prefix</th>
              <th>Company Name</th>
              <th>Account Numbers</th>
              <th>Panel Adjustment</th>
              <th>Report Delivery Type</th>
            </tr>
          </thead>
          <tbody>
            <% @sales_rep.accounts.each do |account| %>
            <tr>
              <td><%= account.prefix if account.prefix %></td>
              <td><%= account.company_name if account.company_name %></td>
              <% if account.account_numbers %>
                <td>
                <ul class="ui list">
                <% account.account_numbers.each do |account_number| %>
                  <li><%= account_number.number %></li>
                <% end %>
                </ul>
                </td>
              <% end %>
              <td><%= account.created_at.strftime("%m/%d/%Y") if account.created_at %></td>
            </tr>
            <% end %>   
          </tbody>
        </table>  
      <% else %>
        <div class="ui ignored info message">
          <p>Associated Accounts not found</p>
        </div>
      <% end %>
    </div>

  </div>
</div>
