<div class="ui grid">
  <div class="three wide column"></div>
  <div class="client-report-container ten wide column ui center aligned grid">
  	<h3>Please provide specimen date received</h3>
		<div class="ui input focus eia_clientreport_wrapper">
	  	<input type="text" class="span2" value="<%= Date.today %>" id="dp1"><br> 
	  </div>
	  <div class="ui center aligned grid datepicker-result">
	  <!-- csv buttons and specimen found count by js -->
	  </div>
</div>
  </div>
  <div class="three wide column"></div>
</div>

