<div class="ui menu fixed" style="font-size: 1.1rem; height: 4rem;">
  <a class="item" href="/" >ULTIMATE GUIDE</a>
  <div class="right ui menu">
    <% if request.path == root_path %>
      <a href='/sales_reps' class='item'>SALES REPS</a>
    <% else %>
      <a href='/' class='item'>ACCOUNTS</a>
    <% end %>

    <div class="ui dropdown item navigation">
      <div class="text">LAB</div>
      <i class="dropdown icon"></i>
      <div class="menu">
        <div class="item" data-value="<%= accession_log_specimens_path%>">
          Accession Log
        </div>
        <div class="item">
          <i class="dropdown icon"></i>
          Reports
          <div class="menu">
            <div class="item" data-value="<%= pick_a_date_specimens_path %>">
              EIA client reports
            </div>
          </div>
        </div>
      </div>
    </div>

    <a href='/specimens/eia_report/pick_a_date' class='item'>EIA REPORT</a>
    <a href='/admin' data-turbolinks='false' class='item admin'>ADMIN</a>
  </div>
</div>


<!-- 
 <div class="ui menu fixed" style="font-size: 1.1rem; height: 4rem;">
      <a class="item" href="/">ULTIMATE GUIDE</a>
      <div class="right menu">
        <a class="item">Sign Up</a>
        <a class="item">Help</a>
      </div>
    </div>


 -->
