<input type="checkbox" id="sales_rep_is_manager">

<script>
  $(function setupManagerToggle() {
    var checkbox = $("#sales_rep_is_manager");
    var managerField = $("#sales_rep_manager_id_field");
    var managerTitleField = $("#sales_rep_manager_title_field");
    checkbox.on('change', function animateToggle() { toggleManager(1000) });
    toggleManager(0);

    function toggleManager(speed) {
      var isManager = checkbox.is(':checked');
      if (isManager) {
        managerField.hide(speed).find('select').prop('disabled', 'disabled');
        managerTitleField.show(speed).find('input').removeProp('disabled');
      } else {
        managerField.show(speed).find('select').removeProp('disabled');
        managerTitleField.hide(speed).find('input').prop('disabled', 'disabled');
      }
    }
  });
</script>
