
.autocomplete {
	.options {
		display: none;
		&.show {
			display: unset;
		}

		list-style: none;
    padding: 0;
    background: white;
    border: 1px solid #999;
    max-height: 150px;
    overflow-y: scroll;
    width: 100%;
    position: absolute;
    z-index: 4;

    .option {
    	&:hover {
    		background-color: #e3e6f4;
    		cursor: pointer;
    	}
    }
	}
}