body {
	margin-top: 4rem;
}

.table-wrapper {
	width: 97%;
	margin: auto;
	th, .row.dt-table, tbody {
		text-align: center;
	}
	ul {
		padding-left: .1rem;
		h5 {
			margin-bottom: .25rem;
			font-weight: 580;
		}
		li {
			list-style: none;
			font-style: italic;
		}
	}
	.ui.pagination.menu {
		font-size: 1.27rem;
		a.paginate_button.active {
			background-color: #00b5ad;
			color: white;
		}
	}
}

.table-wrapper {
	margin-top: 2.2rem;
}
.requisition-search {
	float: right;
	margin-top: 1rem;
}

.hidden { display: none; }

.dropdown.search-by {
  margin: 2rem 0rem 0rem 2rem;
}

.searchOptions {
	text-align: right;
}

.dataTables_wrapper.dt-semanticUI {
	top: -1rem;
}

.eia_clientreport_wrapper {
	margin-top: 1.7rem !important;
}
.client-report-container {
	margin-top: 20rem !important;
	color: #008080;
}
.datepicker-result {
	margin-top: 1.5rem !important;
}

a.generate-csv-link:hover {
	text-decoration: none;
}
