.notification-container {
  position: fixed;
  text-align: center;
  top: 0;
  transition: top 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  width: 100%;

  &.open {
    top: 50px;
  }

  .notification {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 4px;
    color: white;
    padding: 0.5em 1em;
  }
}
