
#specimen-form { 
  padding: 1.5em;
  margin-top: 100px;
}

.table {
  text-align: center;

  .table-header {
    background: #262626;
    color: #ffffff;
    padding: 0.57em;
  }

  .table-row {
    &:nth-child(odd) {
      background: white;
    }

    &:nth-child(even) {
      background: #ccc;
    }

    [class*="col-"] {
      padding: 0;

      label {
        cursor: pointer;
        margin-bottom: 0;
        line-height: 2em;
        width: 100%;
      }

      input {
        border: none;
        background-color: transparent;
        line-height: 2em;
        text-align: center;
        width: 100%;

        &:focus {
          background-color: white;
        }

        &[type=checkbox] {
          width: initial;
        }
      }

      select {
        cursor: pointer;
        height: 1.7em;
        margin-top: 0.2em;
        width: 100%;
      }
    }
  }
}

.error {
  background: red;
  color: white;
  left: 0;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 2;
}
