 <!DOCTYPE html>
 <html>
 <head>
  <title>Ultimate Guide</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <meta name="viewport" content="width=device-width, initial-scale=1">
 </head>
 
 <body>
   <div id="root"></div>
   <%= render 'partials/nav' %>
   <% if flash[:notice] || flash[:alert] %>
      <div class="flash_message ui ignored info message">
        <h4>
          <i class="warning sign icon"></i>
          Error:
        </h4>
        <p>
        <%= flash[:notice] || flash[:alert] %>
        </p>
      </div>
   <% end %>

   <%= yield %>

   <%= javascript_include_tag *webpack_asset_paths("application") %>
 </body>
</html>
