<div class="searchOptions">
  <label for="search-by">Search by:</label>
  <select id="search-by" class="ui selection dropdown search-by">
    <option value="accounts" selected>Account</option>
    <option value="addresses">Address</option>
    <option value="providers">Providers</option>
    <option value="phone_numbers">Contact</option>
    <option value="sales_reps">Account Rep</option>
    <option value="base_panels">Panel Adjustments</option>
    <option value="report_delivery_types">Report Delivery Type</option>
  </select>
</div>

<table id="example" class="table table-bordered table-hover cell-borders row-border order-column" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Prefix</th>
      <th>Account </th>
      <th>Company</th> 
      <th>Address</th>
      <th>Providers &amp; NPI Number</th>
      <th>Contact</th>
      <th>Account Rep</th>
      <th>Panel Adjustment</th>
      <th>Report Delivery</th>
      <th>Sample Collector</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th>Prefix</th>
      <th>Account </th>
      <th>Company</th> 
      <th>Address</th>
      <th>Providers &amp; NPI Number</th>
      <th>Contact</th>
      <th>Account Rep</th>
      <th>Panel Adjustment</th>
      <th>Report Delivery</th>
      <th>Sample Collector</th>
    </tr>
  </tfoot>
  <tbody>
  </tbody>
</table>
