
<div class="table-wrapper">
    <br>
    <div class="hidden">
      <%= form_tag import_accounts_path, multipart: true do %>
        <%= file_field_tag :file, class: "ui selection dropdown" %>
        <%= submit_tag "Import", class: "big ui download primary button" %>
      <% end %>
      <br>  
      <div id="example_filter" class="requisition-search dataTables_filter ui input">
        <div>
          <label>Requisition: <input id="requisition-number" type="text" aria-controls="example"></label>
        </div>
      </div>
    </div>

    <%= render 'accounts_search_table' %>
</div>
